@using WebApplication1.Core.Models
@model IEnumerable<WebApplication1.Core.Models.Activity>
    

@{
    ViewBag.Title = "MyActivities";
}

<h2>My Activities</h2>

<table class="table">
    <tr>
        <th>
            Activty
        </th>
    </tr>
    @foreach (var activity in Model)
    {
        if (activity.ActivityType == ActivityTypes.TweetLike)
        {
            <tr>
                <td>
                    @activity.User.Name liked the Tweet from @activity.Tweet.User.Name with the content @activity.Tweet.Content.
                </td>
            </tr>
        }

    }
</table>

