@model WebApplication1.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "Profile";
}

<h2> @Model.ProfileUser Profile </h2>

<table class="table">
    <tr>
        <th>
            UserName
        </th>
        <th>
            Content
        </th>
        <th>
            DateTime
        </th>
    </tr>
    @foreach (var tweet in Model.Tweets)
    {
        <tr>
            <td>
                @tweet.User.Name
            </td>
            <td>
                @tweet.Content
            </td>
            <td>
                @tweet.CreatedAt.ToString("g")
            </td>
        </tr>
    }
</table>
