@model IEnumerable<WebApplication1.Core.Models.MyUserInfo>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Username)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("ShowProfile", "Profiles", new {username = item.Username})">
                @item.Username
            </a>
        </td>
    </tr>
}

</table>
